.diferencial{
    width: 100%;
    padding-bottom: 2%;
    background-color: #1D2432;
}

.diferencial > h4 {
    margin-top: 20px;
    text-align: center;
    color: #fff;
    font-size: 1.9rem;
    margin-bottom: 50px;
}

.diferencial h4 > span{
    font-weight: lighter;
}

.diferencial .textDiferencial{
    border-radius: 7.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #fff;
    font-size: .8rem;
    padding: 2%;
    width: 320px;
    height: 250px;
    color: #1D2432;
    background-color: #ffffff;
}

.textDiferencial h3{
    font-size: 1.5rem;
}


@media (max-width:1110px) {

    .diferencial .textDiferencial{
        width: 90%;
        margin: 10px 0 20px 0px;
        font-size: 1rem;
        }

    
}

@media (max-width:769px) {
   .diferencial .textDiferencial{
        margin: 10px 0 20px 0px;
    }
}

[data-animation]{
    opacity: 0 ;
    transform: translate3d(-50px, 0,0) ;
    transition: all 450ms;
}

[data-animation].active-animation{
    opacity: 1;
    transform: translate3d(0,0,0);
}