/* estilos padrao  */



:root{
    font-size: 16px;
}

[name="logo"]{
    width: 9%;
}

html {
    height: 100%;
    font-size: 16px;
}

/* estilos do Main  */


/* carregando fonts  */

@font-face {
    font-family: 'outfit';
    src: local('outfit'),url(../fonts/outfit/Outfit-Regular.ttf);
}


